/* Set a background image by replacing the URL below */
body {
	background: #e9ecef;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
