# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Temporary files created by fresh
tmp/
static/font

# Ignore all avatars except default
static/images/
!static/images/blank_avatar.jpg

# Ignore wait-for script
wait-for
