{{ define "content" }}
	{{ range $flash := .Flashes }}
		<div class="alert alert-primary" role="alert">
			{{ $flash }}
		</div>
	{{ end }}
	<p>This is sample index. Only for logged users.</p>
{{ end }}
