{{ define "content" }}
	{{ range $flash := .Flashes }}
		<div class="alert alert-primary" role="alert">
			{{ $flash }}
		</div>
	{{ end }}
	<form action="/login" method="post">
		<div class="container" style="width: 350px;">
			<div class="form-group">
				<label for="username">Username</label>
				<input name="username" type="username" class="form-control" id="username" placeholder="Enter username">
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input name="password" type="password" class="form-control" id="password" placeholder="Password">
			</div>
			<button type="submit" class="btn btn-primary">Sign In</button>
		</div>
	</form>
{{ end }}
