{{ define "posts" }}
	{{ $userid := .User.ID }}
	<ul class="list-unstyled">
		<div class="container mt-4">
		{{ template "flashes" .Flashes }}
		{{ range $post := .Posts }}
			<li class="media">
				<img class="mr-3 rounded-circle" src="/static/images/blank_avatar.jpg" alt="User avatar" style="width: 64px; height: 64px;">
				<div class="media-body mb-3">
					<a href="/user/{{ $post.Author.ID }}"><h5 class="mt-0 mb-1">{{ $post.Author.Username }}</h5></a>
					<small class="text-muted">{{ $post.CreatedOn.Format "Jan _2 2006 15:04" }}</small>
					<p>{{ $post.Body }}</p>
					{{ if eq $post.Author.ID $userid }}
						{{ template "delete" $post.ID }}
						<div class="btn-group btn-group-sm" role="group">
							<button type="button" class="btn btn-outline-primary">
								<span class="oi" title="Edit" data-glyph="pencil"></span>
							</button>
							<button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteModalx{{ $post.ID }}">
								<span class="oi" title="Delete" data-glyph="trash"></span>
							</button>
						</div>
					{{ end }}
				</div>
			</li>
		{{ end }}
		</div>
	</ul>
{{ end }}
