{{ define "header" }}
	<form class="form-inline">
		<a class="btn btn-outline-primary mr-sm-2 text-white" href="/user/{{ .User.ID }}" role="button">{{ .User.Username }}</a>
		<a class="btn btn-outline-primary mr-sm-2 text-white" data-toggle="modal" data-target="#newPostModal" role="button">New Post</a>
		<a class="btn btn-outline-primary mr-sm-2 text-white" href="/logout" role="button">Logout</a>
	</form>
{{ end }}
