{{ define "user" }}
	<div class="container border border-secondary rounded mb-5 shadow p-3">
		<div class="media mx-3 my-3">
			<img src="/static/images/blank_avatar.jpg" class="rounded-circle mr-3" alt="{{ .PageSpecific.User.Username }}" style="width: 64px; height: 64px;">
			<div class="media-body">
				<h5 class="mt-0">
					<span class="oi mr-1" data-glyph="person" title="{{ .PageSpecific.User.Username }}" aria-hidden="true"></span>
					{{ .PageSpecific.User.Username }}
				</h5>
				<span class="badge badge-secondary">
					<span class="oi mr-1" data-glyph="calendar" title="Last Login" aria-hidden="true"></span>
					{{ .PageSpecific.User.LastLogin.Format "Jan _2 2006 15:04" }}
				</span>
				<span class="badge badge-secondary">
					<span class="oi mr-1" data-glyph="heart" title="Joined" aria-hidden="true"></span>
					{{ .PageSpecific.User.CreatedOn.Format "Jan _2 2006 15:04" }}
				</span>
			</div>
		</div>
	</div>
{{ end }}
